@font-face {
  font-family: "iconfont";
  /* Project id 2526085 */
  src: url('iconfont.woff2?t=1620123397895') format('woff2'),
    url('iconfont.woff?t=1620123397895') format('woff'),
    url('iconfont.ttf?t=1620123397895') format('truetype');
}

.iconfont,
[class^="mus-"],
[class*=" mus-"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mus-goumai:before {
  content: "\e603";
}

.mus-lajixiang:before {
  content: "\e61a";
}

.mus-flyme_icon-:before {
  content: "\e600";
}

.mus-pinglunshu:before {
  content: "\e795";
}

.mus-zhuanji:before {
  content: "\e64b";
}

.mus-dacha:before {
  content: "\e6a4";
}

.mus-sandian:before {
  content: "\ec86";
}

.mus-huaban:before {
  content: "\e60d";
}

.mus-xindong:before {
  content: "\e672";
}

.mus-xindong1:before {
  content: "\e601";
}

.mus-suijibofang:before {
  content: "\e6a0";
}

.mus-danquxunhuan:before {
  content: "\e6a2";
}

.mus-liebiaoxunhuan:before {
  content: "\e6a3";
}

.mus-bofangliebiao:before {
  content: "\e696";
}

.mus-geren:before {
  content: "\e706";
}

.mus-xiala:before {
  content: "\e756";
}

.mus-tianjia:before {
  content: "\e613";
}

.mus-xin:before {
  content: "\e711";
}

.mus-xin2:before {
  content: "\e712";
}

.mus-shangyishoushangyige:before {
  content: "\e78a";
}

.mus-shipinbofangyingpian:before {
  content: "\e78f";
}

.mus-xiayigexiayishou:before {
  content: "\e7a5";
}

.mus-xiazai:before {
  content: "\e60e";
}

.mus-fenxiang:before {
  content: "\e6a7";
}